{% extends "index/base.html" %}
{% block content %}
	{% load static %}
	<div class="container shadow bg-white">
		{% for meme, graph in data %}
		<div class="row mt-3 p-3 border-bottom">
			<div class="col-6">
				<img src="{% static meme.image_path %}" width="100%" class="border" />
			</div>
			<div class="col-6" style="display: flex; flex-direction: column;">
				<div class="row">
					<div class="col-12">
						<h4>Meme from {{meme.source}}</h4>
						<h6>Posted at {{meme.meme_datetime}}</h6>
						<hr>
					</div>
				</div>
				<div class="row" style="flex-grow: 1;">
					{% include "index/graph.html" %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="container shadow bg-white">
		{% if memes.has_other_pages %}
		<div class="row mt-3 p-3 justify-content-center">
			<div class="row justify-content-center">
				<div class="text-xs-center">
					<ul class="pagination justify-content-center">
						{% if memes.has_previous %}
							<li>
								<a class="page-link" href="?page={{ memes.previous_page_number }}">&laquo;</a>
							</li>
						{% else %}
							<li class="page-item disabled">
								<a class="page-link"><span>&laquo;</span></a>
							</li>
						{% endif %}
						{% for i in memes.paginator.page_range %}
							{% if i < memes.number|add:"-1" %}
							{% elif memes.number == i %}
								<li class="page-item"><a class="page-link">
									<span>{{ i }}<span class="sr-only">(current)</span></span></a>
								</li>
							{% elif i > memes.number|add:2 %}
							{% else %}
								<li class="page-item">
									<a class="page-link" href="?page={{ i }}">{{ i }}</a>
								</li>
							{% endif %}
						{% endfor %}
						<li class="page-item disabled">
							<a class="page-link" >...</a>
						</li>

						{% for i in memes.paginator.page_range|slice:"-1:" %}
							{% if memes.number == i %}
								<li class="page-item"><a class="page-link">
									<span>{{ i }}<span class="sr-only">(current)</span></span></a>
								</li>
							{% else %}
								<li class="page-item">
									<a class="page-link" href="?page={{ i }}">{{ i }}</a>
								</li>
							{% endif %}
						{% endfor %}

						{% if memes.has_next %}
							<li class="page-item">
								<a class="page-link" href="?page={{ memes.next_page_number }}">&raquo;</a>
							</li>
						{% else %}
							<li class="page-item disabled">
								<span>&raquo;</span>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
{% endblock content %}